:root {
    --main-text-color: #212121;
    --text-grey: #757575;

    --main-background-color: #F5F5F5;
    --regular-white: #FFFFFF;

    --sky: #2196F3;
    --dark-sky: #077cdd;
    --logo-black: #000000;
    --motto-back-color: #2F303A;

    --border-frame: #EEEEEE;
}

/*global styles*/

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    background-color: var(--regular-white);
}

/*header styling*/
.header-webstudio {
    background: var(--regular-white);
}

/*logo styling*/
.header-webstudio-link {
    text-decoration: none;
}

.logo-web-header {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--sky);
}

.logo-studio-header {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-black);
}

/*link list decoration*/
.linklist-header {
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.link-studio,
.link-portfolio,
.link-contacts {
    text-decoration: none;
    color: var(--main-text-color);
}

.link-studio:hover,
:focus,
.link-portfolio:hover,
:focus,
.link-contacts:hover,
:focus {
    color: var(--sky);
}

.link-studio.current {
    text-decoration: none;
    color: var(--sky);
}

.link-portfolio.current {
    text-decoration: none;
    color: var(--sky)
}

/*contacts header styling*/
.contacts-header {
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.tel-link-header,
.mail-link-header {
    text-decoration: none;
    color: var(--text-grey);
}

.tel-link-header:hover,
:focus,
.mail-link-header:hover,
:focus {
    color: var(--sky);
}

.main-info {
    background: var(--main-background-color);
}

/*section 1 motto*/
.motto-section {
    background-color: var(--motto-back-color);
}

.tittle {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--regular-white);
}

.main-button {
    font-family: inherit;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--regular-white);
    background: var(--sky);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
}

.main-button:hover {
    color: var(--regular-white);
    background: var(--dark-sky);
}

.main-button:focus {
    color: var(--regular-white);
    background: var(--dark-sky);
}

/*section 2 features*/
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.features-list {
    list-style: none;
}

.features-tittle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-text-color);
}

.features-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-grey);
}

/*section 3 things to do*/
.todo-tittle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.todo-list {
    list-style: none;
}

/*section 4 team*/

.team-list {
    list-style: none;
}

.team-item {
    background-color: var(--regular-white)
}

.team-section {
    background-color: var(--main-background-color);
}

.team-section-tittle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.team-tittle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.team-text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-grey);
}

/*section portfolio*/
.section-portfolio {
    background-color: var(--regular-white);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/*buttons list*/
.portfolio-btn-list {
    list-style: none;
}

.button-portfolio {
    cursor: pointer;
    background: var(--sky);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--regular-white);
}

.button-portfolio:hover .button-portfolio:focus {
    background: var(--sky);
    color: var(--regular-white)
}

.button-secondary {
    cursor: pointer;
    background: var(--main-background-color);
    border-radius: 4px;
    border: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.button-secondary:hover,
.button-secondary:focus {
    background: var(--sky);
    color: var(--regular-white);
}

/*examples list*/
.portfolio-list {
    list-style: none;
}

.portfolio-item {
    box-sizing: border-box;
    background: var(--regular-white);
    border: 1px solid var(--border-frame);
}

.portfolio-link {
    text-decoration: none;
    background-color: var(--main-background-color);
}

.portfolio-tittle {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--text-grey);
}

/*footer styling*/
.footer-webstudio {
    background: var(--motto-back-color);
}

/*logo footer*/
.footer-webstudio-link {
    text-decoration: none;
}

.logo-web-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--sky);
}

.logo-studio-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--regular-white);
}

/*address*/
.contacts-address {
    font-style: inherit
}

.contacts-footer-list {
    list-style: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.85;
    letter-spacing: 0.03em;
}

.location-link {
    text-decoration: none;
    color: var(--regular-white);
}

.tel-link-footer,
.mail-link-footer {
    text-decoration: none;
    color: var(--text-grey);
}

.location-link:hover,
:focus,
.tel-link-footer:hover,
:focus,
.mail-link-footer:hover,
:focus {
    color: var(--sky);
}